In [27]:
import numpy as np
import pandas as pd 
import csv
import warnings
import pickle
data = pd.read_csv("heart_failure_clinical_records_dataset.csv")
data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [28]:
data.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [29]:
data.shape

(299, 13)

In [30]:
x = data.drop("DEATH_EVENT", axis = 1)
y = data["DEATH_EVENT"]

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))
x_train

239
60
239
60

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
100,65.0,1,305,0,25,0,298000.0,1.1,141,1,0,87
295,55.0,0,1820,0,38,0,270000.0,1.2,139,0,0,271
104,60.0,0,53,0,50,1,286000.0,2.3,143,0,0,87
275,45.0,0,582,0,38,1,422000.0,0.8,137,0,0,245
190,80.0,0,582,1,35,0,350000.0,2.1,134,1,0,174
...,...,...,...,...,...,...,...,...,...,...,...,...
83,79.0,1,55,0,50,1,172000.0,1.8,133,1,0,78
45,50.0,0,582,1,38,0,310000.0,1.9,135,1,1,35
160,66.0,1,72,0,40,1,242000.0,1.2,134,1,0,121
245,61.0,1,80,1,38,0,282000.0,1.4,137,1,0,213
74,69.0,0,582,0,20,0,266000.0,1.2,134,1,1,73

In [32]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)
x_train

array([[ 0.35177696,  1.16890403, -0.28306476, ...,  0.68283063,
        -0.69604026, -0.5360641 ],
       [-0.47790779, -0.85550223,  1.2194641 , ..., -1.46449201,
        -0.69604026,  1.87608722],
       [-0.06306541, -0.85550223, -0.53299035, ..., -1.46449201,
        -0.69604026, -0.5360641 ],
       ...,
       [ 0.43474544,  1.16890403, -0.51414676, ...,  0.68283063,
        -0.69604026, -0.09034049],
       [ 0.01990306,  1.16890403, -0.50621261, ...,  0.68283063,
        -0.69604026,  1.11573517],
       [ 0.68365087, -0.85550223, -0.00834496, ...,  0.68283063,
         1.43669849, -0.71959735]])

In [33]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=500)
model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=500)

In [34]:
y_pred = model.predict(x_test)
y_pred

array([1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [35]:
from sklearn.metrics import classification_report,accuracy_score
print("classification Report ",classification_report(y_test,y_pred))
print("Accuracy ",accuracy_score(y_test,y_pred)*100)

classification Report                precision    recall  f1-score   support

           0       0.84      0.90      0.87        40
           1       0.76      0.65      0.70        20

    accuracy                           0.82        60
   macro avg       0.80      0.78      0.79        60
weighted avg       0.81      0.82      0.81        60

Accuracy  81.66666666666667

In [38]:
inputt=[int(x) for x in "75 0 582 0 20 1 265000 2 130 1 0 4" .split(' ')]
final=[np.array(inputt)]

In [39]:
b = model.predict_proba(final)

In [40]:
pickle.dump(model,open('model.pkl','wb'))
model=pickle.load(open('model.pkl','rb'))